@import url("components/card.css");
@import url("components/btn.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}

.list-inline{
  list-style: none;
  color: gray;
}

/* Deixar a lista alinhada */

.list-inline li{
  display: inline-block;
  float: right;
  margin: 0 5px;
}

.list-inline > li > i{
  margin: 0 3px;
}
