.card-container {
  padding-bottom: 20px;
}

.card-white {
  background-color: white;
  height: 190px;
  width: 300px;
  padding: 10px;
}

.card-img {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  height: 150px;
}

.profile-picture{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.card-link{
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.card-link a{
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

.card-img .btn{
  opacity: 0;
  transition: .3s;
}

.card-img:hover .btn{
  opacity: 1
}
